<div class="left">
  <h1><%= gravatar_for @user %>
  <p><%= @user.name %></p>
  </h1>
</div>
<aside class="more_info right">
  <p><span>Imie</span> <%= @user.name %> <br></p>
  <p><span>Url</span> <%= link_to user_path(@user), @user %> </p>
</aside>
