<% if object.errors.any? %>
  <div id="error_explanation">
    <h2> <%= pluralize(object.errors.count, "error") %>
     niepozwolily <%= object.class.to_s.underscore.humanize.downcase %> 
     by wszystko przebieglo szczesliwie</h2>
     <p> Nastepujace problemy wystapily </p>
     <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
     </ul>
   </div>
<% end %>
        
