<footer>
  <nav>
    <ul class="foot_nav">
      <li> <%= link_to "About", '/about', %></li>
      <li> <%= link_to "Contact", '/contact', %></li>
      <li> <%= link_to "repository on github", 'https://github.com/kopytek/sample_app' %><li>
      <li> <p> Foooooooter </p> </li>
    </ul>
  </nav>
  
</footer>
