<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'css/style', :media => 'screen' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
